@font-face {
    font-family: 'JostBold';
    src: url(../fonts/Jost-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: 'JostExtraBold';
    src: url(../fonts/Jost-ExtraBold.ttf);
    font-weight: 800;

}

@font-face {
    font-family: 'JostMedium';
    src: url(../fonts/Jost-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: 'JostMediumButton';
    src: url(../fonts/Jost-Medium.ttf);
    font-weight: 600;
}

@font-face {
    font-family: 'JostRegular';
    src: url(../fonts/Jost-Regular.ttf);
    font-weight: 400;

}

@font-face {
    font-family: 'JostSemiBold';
    src: url(../fonts/Jost-SemiBold.ttf);
    font-weight: 400;

}